@font-face {
  font-family: 'Abrazo Script Ssk';
  src: local("Abrazo Script Ssk  Bold"), local("AbrazoScriptSskBold"), url("../fonts/AbrazoScriptSskBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: local("Cabin Medium"), local("Cabin-Medium"), url("../fonts/Cabin-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Verlag Compressed';
  src: local("Verlag Compressed Bold"), local("VerlagCompressed-Bold"), url("../fonts/VerlagCompressed-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: local("Cabin Regular"), local("Cabin-Regular"), url("../fonts/Cabin-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berthold Akzidenz-Grotesk';
  src: local("Berthold Akzidenz-Grotesk Condensed"), local("AkzidenzGroteskBE-Cn"), url("../fonts/AkzidenzGroteskBE-Cn.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Verlag Compressed';
  src: local("Verlag Compressed Black"), local("VerlagCompressed-Black"), url("../fonts/VerlagCompressed-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  position: relative;
  padding: 0;
  margin: 0;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: 0;
  outline: none;
  text-decoration: none;
}

body,
html {
  display: block;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Cabin';
  font-weight: normal;
  font-size: 12px;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Berthold Akzidenz-Grotesk';
  font-weight: bold;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 24px;
}

.upper-case {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.clear:after {
  content: '';
  display: block;
  margin: 0;
  padding: 0;
  clear: both;
}

.form-holder {
  display: block;
  padding: 0 50px;
}

.input-group {
  display: block;
  margin: 0px auto;
  padding: 3px;
}

.input-group:after {
  content: ' ';
  display: block;
  margin: 0;
  padding: 0;
}

.input-group label {
  display: block;
  font-size: 12px;
  color: #4f4b42;
}

.input-group label.required-field-label:after {
  content: '*';
  display: inline-block;
  color: #de2e22;
  font-weight: 600;
  padding-left: 3px;
}

.input-group.horizontal {
  width: auto;
  padding-right: 18px;
}

.input-group.horizontal label,
.input-group.horizontal input {
  float: left;
  width: auto;
}

.file-input-holder {
  background: #ffe450;
  display: block;
  height: 25px;
}

.file-input-holder .btn-browse,
.file-input-holder .lbl-info {
  float: left;
  display: block;
}

.file-input-holder .btn-browse {
  border-radius: 8px;
  background-image: linear-gradient(180deg, white 0%, rgba(6, 6, 6, 0.2) 100%);
  width: auto;
  height: 17px;
  text-align: center;
  margin-top: 4px;
  margin-left: 4px;
  padding: 0 10px;
}

.file-input-holder .lbl-info {
  line-height: 25px;
  padding-left: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea {
  background: #ffe450 url("../img/input-dots.png") repeat-x left 6px bottom 2px;
  display: block;
  margin: 0 auto;
  padding: 0 5px;
  font-family: 'Cabin';
  font-weight: normal;
  font-size: 12px;
  color: #4f4b42;
  width: 100%;
  max-width: 100%;
  height: 24px;
  line-height: 24px;
}

textarea {
  resize: none;
  height: 40px;
  line-height: 20px;
  background: #ffe450 url("../img/input-dots.png") repeat left 6px bottom 0px;
}

select {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  color: #4f4b42;
  font-family: 'Cabin';
  font-weight: normal;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  background-color: #ffe450;
  padding-left: 10px;
  padding-right: 10px;
}

.custom-select {
  display: block;
  margin: 0;
  padding: 0;
}

.custom-select:after {
  width: 14px;
  height: 7px;
  background: url("../img/sprites.png") no-repeat 0 -32px;
  content: '';
  position: absolute;
  display: block;
  right: 4px;
  top: 9px;
  left: auto;
}

.custom-select label.error {
  top: -12px;
}

input[type="file"].hidden-file-input {
  visibility: hidden;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}

.age-holder {
  width: 50px;
  float: left;
}

.age-holder label.error {
  top: auto;
  bottom: -12px;
  white-space: nowrap;
  width: 150px;
  left: 0;
  right: auto;
}

.gender-holder {
  float: left;
  display: block;
  padding-top: 20px;
  padding-left: 10px;
}

.radio-holder {
  display: block;
  float: left;
}

.radio-holder label,
.radio-holder input[type="radio"],
.radio-holder input[type="checkbox"] {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.radio-holder input[type="radio"].custom-radio, .radio-holder input[type="radio"].custom-checkbox,
.radio-holder input[type="checkbox"].custom-radio,
.radio-holder input[type="checkbox"].custom-checkbox {
  padding: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.radio-holder input[type="radio"].custom-radio ~ .custom-check, .radio-holder input[type="radio"].custom-checkbox ~ .custom-check,
.radio-holder input[type="checkbox"].custom-radio ~ .custom-check,
.radio-holder input[type="checkbox"].custom-checkbox ~ .custom-check {
  display: block;
  float: left;
  width: 14px;
  height: 14px;
  background: url("../img/sprites.png") no-repeat 0 1px;
}

.radio-holder input[type="radio"].custom-radio:checked ~ .custom-check, .radio-holder input[type="radio"].custom-checkbox:checked ~ .custom-check,
.radio-holder input[type="checkbox"].custom-radio:checked ~ .custom-check,
.radio-holder input[type="checkbox"].custom-checkbox:checked ~ .custom-check {
  background-position: 0 -14px;
}

.btn-register {
  display: block;
  background: url("../img/btn-register.png") no-repeat center;
  border: none;
  width: 162px;
  height: 41px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-align: left;
  font-family: 'Berthold Akzidenz-Grotesk';
  font-size: 23px;
  color: #fff;
  padding-left: 15px;
  line-height: 34px;
  margin: auto;
  margin-right: -67px;
  cursor: pointer;
}

label.error {
  position: absolute;
  top: 4px;
  right: 0;
  left: auto;
  color: red;
  font-size: 10px;
}

/*
 * Global Rules
 */
.pl-10 {
  padding-left: 10px;
}

.clr {
  clear: both;
}

.left {
  float: left;
}

.clear:after {
  content: '';
  display: block;
  margin: 0;
  padding: 0;
  clear: both;
}

.pr-40 {
  padding-right: 40px;
}

.left-align {
  text-align: left;
}

/*
 * Generic Page Rules
 */
.page-wrapper {
  display: block;
  margin: 0 auto;
  max-width: 810px;
  overflow-x: hidden;
}

.popup-holder {
  position: absolute;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 50px;
}

.popup-holder.active {
  display: block;
}

.popup-holder .inner-contents {
  background: #fff;
  display: block;
  height: 100%;
}

.popup-holder .close {
  position: absolute;
  top: 30px;
  right: 30px;
  left: auto;
  color: #fff;
  font-size: 20px;
  font-family: 'Cabin';
  font-weight: 600;
  padding: 10px;
  text-align: center;
  line-height: 15px;
  border-radius: 50%;
  background: #de2e22;
  z-index: 1000;
  cursor: pointer;
}

/*
 * Logo Rules
 */
.logo-holder {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}

.logo-holder img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
}

/*
 * Registration Page Rules
 */
.register-section {
  display: block;
  background: #fff url("../img/bg.jpg") no-repeat center 0;
  background-size: 100%;
  background-attachment: fixed;
  background-size: cover;
}

.register-section.gallery {
  background-image: url("../img/bg-gallery.jpg");
}

.register-form-container {
  display: block;
  float: right;
  width: 450px;
  margin-right: 15px;
  background: url("../img/white-bg.png") repeat-y center 0;
  background-size: 100%;
  min-height: 648px;
}

.register-form-container .register-header {
  text-align: center;
  display: block;
  padding-top: 20px;
  padding-bottom: 5px;
}

.register-form-container .register-header .spatula {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 0px;
}

.agreement-holder {
  padding-top: 10px;
}

.agreement-holder a:link, .agreement-holder a:visited {
  text-decoration: underline;
  color: #000;
  transition: 0.3s color;
}

.agreement-holder a:hover, .agreement-holder a:active {
  color: #de2e22;
}

.agreement-holder label.error {
  white-space: nowrap;
  right: auto;
  left: 0;
  top: 20px;
  padding: 0;
}

.glad-chef {
  display: block;
  position: absolute;
  top: auto;
  left: 10px;
  bottom: -5px;
  right: auto;
  z-index: 1100;
}

.glad-chef img {
  display: block;
  max-width: 100%;
}

/*
 * Gallery Page Rules
 */
.submit-now {
  position: absolute;
  display: block;
  background: url("../img/btn.png") no-repeat center;
  border: none;
  width: 135px;
  height: 41px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-align: left;
  font-family: 'Berthold Akzidenz-Grotesk';
  font-size: 18px;
  color: #fff;
  line-height: 34px;
  margin: auto;
  right: -20px;
  cursor: pointer;
  top: 12px;
  left: auto;
  text-align: center;
}

.gallery-holder {
  width: 525px;
}

.gallery-title {
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 2px;
}

.gallery-mini-title {
  font-size: 21px;
  text-transform: uppercase;
}

.search-bar-holder {
  display: block;
  margin: 0 auto;
}

.search-bar-holder .input-group {
  float: right;
}

.search-bar-holder .input-group.horizontal {
  width: auto;
  padding-right: 18px;
}

.search-bar-holder .input-group.horizontal label,
.search-bar-holder .input-group.horizontal input {
  float: left;
  width: auto;
}

.search-bar-holder .input-group.horizontal input {
  background-image: none;
}

.search-bar-holder .input-group.horizontal input::-webkit-input-placeholder {
  color: #828180;
  font-family: 'Verlag Compressed';
  text-transform: uppercase;
  font-size: 13px;
}

.search-bar-holder .input-group.horizontal input:-moz-placeholder {
  color: #828180;
  font-family: 'Verlag Compressed';
  text-transform: uppercase;
  font-size: 13px;
}

.search-bar-holder .input-group.horizontal input:-ms-input-placeholder {
  color: #828180;
  font-family: 'Verlag Compressed';
  text-transform: uppercase;
  font-size: 13px;
}

.search-bar-holder .input-group.horizontal label {
  color: #929292;
  text-transform: uppercase;
  font-family: 'Verlag Compressed';
  font-size: 13px;
  padding-right: 10px;
  line-height: 25px;
}

.gallery-container {
  display: block;
  margin: 0;
  padding: 0 8px 0 0;
}

.gallery-container .gallery-items-list {
  list-style: none;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.gallery-container .gallery-items-list .item {
  display: block;
  float: left;
  width: 50%;
  padding: 10px;
}

.gallery-container .gallery-items-list .item a,
.gallery-container .gallery-items-list .item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.gallery-container .gallery-items-list .item .thumb-holder {
  z-index: 0;
  padding-left: 50px;
}

.gallery-container .gallery-items-list .item .thumb-holder a {
  display: block;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.gallery-container .gallery-items-list .item .thumb-holder a .info {
  position: absolute;
  transition: 0.3s bottom;
  bottom: -200%;
  top: auto;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.8) url("../img/zoom.png") no-repeat right 10px bottom 10px;
  background-size: 16px;
  display: block;
  padding: 10px;
  text-transform: none;
  color: #000;
  font-family: 'Verlag Compressed';
  font-size: 17px;
  z-index: 100;
}

.gallery-container .gallery-items-list .item .thumb-holder a .info .block {
  display: block;
  text-align: left;
  text-overflow: ellipsis;
  height: 20px;
  overflow: hidden;
  max-width: 100%;
}

.gallery-container .gallery-items-list .item .thumb-holder a:hover .info {
  bottom: 0;
}

.gallery-container .gallery-items-list .item .thumb-holder a img {
  border: 5px #fff solid;
  display: block;
  width: 100%;
}

.gallery-container .gallery-items-list .item .likes-holder {
  width: 50px;
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: -webkit- translateY(-50%);
  transform: translateY(-50%);
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
  font-family: 'Verlag Compressed';
  text-align: center;
  z-index: 100;
  padding-top: 0px;
}

.gallery-container .gallery-items-list .item .likes-holder .btn-like {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  width: 100%;
  height: 24px;
  background: url("../img/btn-like.png") no-repeat center;
  cursor: pointer;
}

ul.pagination {
  display: block;
  text-align: center;
  list-style: none;
  padding: 15px;
}

ul.pagination li {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  font-family: 'Verlag Compressed';
  color: #000;
}

ul.pagination li.active {
  color: #de2e22;
}

ul.pagination li:first-child span, ul.pagination li:last-child span {
  display: none;
}

ul.pagination li a {
  display: inline-block;
  color: #000;
}

ul.pagination li a[rel=prev], ul.pagination li a[rel=next] {
  color: transparent;
}

ul.pagination li a[rel=prev]:before, ul.pagination li a[rel=prev]:after, ul.pagination li a[rel=next]:before, ul.pagination li a[rel=next]:after {
  content: '';
  display: inline-block;
  width: 54px;
  height: 14px;
  background: url("../img/sprites.png") no-repeat 0 -48px;
}

ul.pagination li a[rel=prev]:after {
  display: none;
}

ul.pagination li a[rel=next]:before {
  display: none;
}

ul.pagination li a[rel=next]:after {
  background-position: 0 -64px;
}

.btn-like-2 {
  display: block;
  width: 76px;
  height: 39px;
  background: url("../img/btn-like-2.png") no-repeat center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  float: left;
}

.btn-share {
  float: left;
  font-size: 19px;
  line-height: 39px;
  display: block;
  width: 76px;
  height: 39px;
  background: url("../img/btn-share.png") no-repeat center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  color: #fff;
  text-align: center;
  font-weight: 900;
  font-family: 'Verlag Compressed';
  text-transform: uppercase;
  cursor: pointer;
}

.gallery-details {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8) url("../img/yellow-bg.png") repeat-x left 0 top 450px;
  z-index: 1000;
}

.gallery-details.active {
  display: block;
}

.gallery-details .close {
  position: absolute;
  top: -30px;
  right: 20px;
  left: auto;
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
  font-family: 'Verlag Compressed';
  font-weight: 900;
  padding: 10px;
  text-align: center;
  line-height: 15px;
  z-index: 1000;
  cursor: pointer;
}

.gallery-details .details-holder {
  position: absolute;
  right: 30px;
  top: 100px;
  width: 500px;
}

.gallery-details .details-holder a.image-preview {
  display: block;
  margin: 0;
  padding: 0;
  height: 380px;
  text-align: center;
}

.gallery-details .details-holder a.image-preview img {
  border: 5px #fff solid;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.gallery-details .details-holder .details-panel {
  font-family: 'Verlag Compressed';
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
}

.gallery-details .details-holder .details-panel .name {
  text-transform: uppercase;
}

.block {
  display: block;
}

.col {
  display: block;
  float: left;
  margin: 0;
  padding: 0 10px;
}

.col.col-3 {
  width: 25%;
}

.col.col-6 {
  width: 50%;
}

.col.col-5 {
  width: 40%;
}

.col.col-4 {
  width: 35%;
}

/*
 * Login Page Rules
 */
.login-bg {
  display: block;
}

.login-bg .bg-login-img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.login-bg .logo-holder-big {
  display: block;
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 35px;
  font-family: 'Berthold Akzidenz-Grotesk';
}

.login-bg .logo-holder-big .title {
  font-size: 23px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-family: 'Berthold Akzidenz-Grotesk';
  color: #000;
  position: absolute;
  top: 60px;
  z-index: 1000;
  left: 0;
  right: 0;
}

.login-bg .logo-holder-big img {
  display: block;
  max-width: 100%;
}

.login-bg .login-form {
  position: absolute;
  width: 400px;
  display: block;
  bottom: 90px;
  top: auto;
  left: 0;
  z-index: 1500;
  padding: 25px 15px;
  background: url("../img/yellow-bg.png") no-repeat center;
  background-size: cover;
}

.login-bg .login-form label {
  font-weight: bold;
  text-align: left;
  font-size: 22px;
  font-family: 'Berthold Akzidenz-Grotesk';
  min-width: 80px;
}

.login-bg .login-form input {
  background-color: #fff;
  width: 180px;
}

.login-bg .login-form .btn-enter {
  position: absolute;
  top: 50%;
  -webkit-transform: -webkit- translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
}

/*
 * Footer Rules
 */
.footer {
  display: block;
  background: #fff;
  padding: 0 25px;
  line-height: 27px;
}

.footer .footer-links, .footer .footer-links:link, .footer .footer-links:visited {
  color: #000;
  text-decoration: none;
  font-family: 'Abrazo Script Ssk';
  font-size: 16px;
  display: block;
  margin: 0 auto;
  padding: 0;
  float: left;
  transition: 0.3s color;
}

.footer .footer-links:hover, .footer .footer-links:active {
  color: #de2e22;
}

.footer .footer-links.privacy-policy {
  float: left;
}

.footer .footer-links.terms-conditions {
  float: right;
}

@media screen and (max-width: 767px) {
  .register-form-container {
    width: 100%;
    min-height: 0;
    margin: 0;
  }
  .logo-holder {
    position: relative;
    max-width: 40%;
    float: left;
  }
  .glad-chef {
    position: relative;
    float: right;
    max-width: 30%;
  }
  .glad-chef img {
    left: -10px;
  }
  .form-holder {
    padding-left: 20px;
    padding-right: 20px;
  }
  .btn-register {
    margin: 10px auto;
  }
  .submit-now {
    position: relative;
    margin: 0 auto;
    right: 0;
    left: 0;
  }
  .popup-holder {
    padding: 20px;
  }
  .gallery-details {
    position: fixed;
    z-index: 1500;
    background-repeat: repeat;
    height: 100vh;
    overflow-y: auto;
  }
  .gallery-details .details-holder {
    right: 0;
    top: 20px;
    width: 100%;
  }
  .gallery-details .details-holder a.image-preview {
    height: auto;
    margin: 15px;
  }
  .gallery-details .details-holder .details-panel {
    padding: 15px;
  }
  .gallery-details .close {
    top: -20px;
  }
  .col.col-3,
  .col.col-4,
  .col.col-5,
  .col.col-6 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .login-bg .logo-holder-big {
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .login-bg .logo-holder-big .title {
    top: 14%;
    font-size: 1.2rem;
  }
  .login-bg .login-form {
    width: 100%;
    bottom: 0;
    padding-bottom: 20px;
  }
  .login-bg .login-form .btn-enter {
    position: relative;
    top: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    margin: 0 auto;
    display: block;
    left: auto;
    right: auto;
    float: none;
    margin-top: 20px;
  }
  .login-bg .login-form label {
    width: 25%;
    min-width: 0;
  }
  .login-bg .login-form input {
    width: 70%;
    min-width: 0;
  }
  .login-bg .login-form .input-group.horizontal {
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .gallery-container .gallery-items-list .item {
    width: 100%;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  .gallery-container .gallery-items-list .item {
    width: 100%;
  }
  .login-bg .logo-holder-big {
    top: 0 !important;
    max-width: 25%;
    z-index: 2000;
  }
  .login-bg .logo-holder-big .title {
    display: none;
  }
  .login-bg .login-form .btn-enter {
    margin-top: 10px;
  }
  .login-bg .login-form {
    padding-top: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .register-form-container,
  .login-bg {
    min-height: calc(100vh - 27px);
    min-height: -webkit-calc(100vh - 27px);
  }
  .glad-chef {
    width: 25%;
  }
  .page-wrapper {
    max-width: 100%;
  }
  .login-bg {
    overflow: hidden;
  }
  .login-bg .bg-login-img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    width: auto;
    left: -50%;
    right: -50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .btn-register {
    margin: 30px auto;
  }
  .login-bg .bg-login-img {
    left: auto;
    right: -10%;
  }
  .login-bg .logo-holder-big {
    top: 0%;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .page-wrapper {
    width: 100%;
  }
  .login-bg .logo-holder-big {
    top: 10%;
  }
}

/*# sourceMappingURL=app.css.map */
