@font-face {
    font-family: 'Abrazo Script Ssk';
    src: local('Abrazo Script Ssk  Bold'), local('AbrazoScriptSskBold'), url('../fonts/AbrazoScriptSskBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: local('Cabin Medium'), local('Cabin-Medium'), url('../fonts/Cabin-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Verlag Compressed';
    src: local('Verlag Compressed Bold'), local('VerlagCompressed-Bold'), url('../fonts/VerlagCompressed-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: local('Cabin Regular'), local('Cabin-Regular'), url('../fonts/Cabin-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Berthold Akzidenz-Grotesk';
    src: local('Berthold Akzidenz-Grotesk Condensed'), local('AkzidenzGroteskBE-Cn'), url('../fonts/AkzidenzGroteskBE-Cn.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verlag Compressed';
    src: local('Verlag Compressed Black'), local('VerlagCompressed-Black'), url('../fonts/VerlagCompressed-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
