.form-holder {
    display: block;
    padding: 0 50px;
}

.input-group {
    display: block;
    margin: 0px auto;
    padding: 3px;
    &:after {
        content: ' ';
        display: block;
        margin: 0;
        padding: 0;
    }
    label {
        display: block;
        font-size: 12px;
        color: #4f4b42;
        &.required-field-label {
            &:after {
                content: '*';
                display: inline-block;
                color: $red;
                font-weight: 600;
                padding-left: 3px;
            }
        }
    }
    &.horizontal {
        width: auto;
        padding-right: 18px;
        label,
        input {
            float: left;
            width: auto;
        }
    }
}

.file-input-holder {
    background: $yellow;
    display: block;
    height: 25px;
    .btn-browse,
    .lbl-info {
        float: left;
        display: block;
    }
    .btn-browse {
        border-radius: 8px;
        background-image: -webkit-linear-gradient( 180deg, rgba(255, 255, 255, 1) 0%, rgba(6, 6, 6, 0.20) 100%);
        background-image: -moz-linear-gradient( 180deg, rgba(255, 255, 255, 1) 0%, rgba(6, 6, 6, 0.20) 100%);
        background-image: -ms-linear-gradient( 180deg, rgba(255, 255, 255, 1) 0%, rgba(6, 6, 6, 0.20) 100%);
        background-image: linear-gradient( 180deg, rgba(255, 255, 255, 1) 0%, rgba(6, 6, 6, 0.20) 100%);
        width: auto;
        height: 17px;
        text-align: center;
        margin-top: 4px;
        margin-left: 4px;
        padding: 0 10px;
    }
    .lbl-info {
        line-height: 25px;
        padding-left: 10px;
    }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea {
    background: $yellow url("../img/input-dots.png") repeat-x left 6px bottom 2px;
    display: block;
    margin: 0 auto;
    padding: 0 5px;
    font-family: 'Cabin';
    font-weight: normal;
    font-size: 12px;
    color: #4f4b42;
    width: 100%;
    max-width: 100%;
    height: 24px;
    line-height: 24px;
}

textarea {
    resize: none;
    height: 40px;
    line-height: 20px;
    background: $yellow url("../img/input-dots.png") repeat left 6px bottom 0px;
}

select {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    color: #4f4b42;
    font-family: 'Cabin';
    font-weight: normal;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    background-color: $yellow;
    padding-left: 10px;
    padding-right: 10px;
}

.custom-select {
    display: block;
    margin: 0;
    padding: 0;
    &:after {
        width: 14px;
        height: 7px;
        background: url('../img/sprites.png') no-repeat 0 -32px;
        content: '';
        position: absolute;
        display: block;
        right: 4px;
        top: 9px;
        left: auto;
    }
    label.error {
        top: -12px;
    }
}

input[type="file"].hidden-file-input {
    visibility: hidden;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

.age-holder {
    width: 50px;
    float: left;
    label.error {
        top: auto;
        bottom: -12px;
        white-space: nowrap;
        width: 150px;
        left: 0;
        right: auto;
    }
}

.gender-holder {
    float: left;
    display: block;
    padding-top: 20px;
    padding-left: 10px;
}

.radio-holder {
    display: block;
    float: left;
    label,
    input[type="radio"],
    input[type="checkbox"] {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }
    input[type="radio"],
    input[type="checkbox"] {
        &.custom-radio,
        &.custom-checkbox {
            padding: 0;
            position: absolute;
            @include opacity(0);
            visibility: hidden;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            ~ .custom-check {
                display: block;
                float: left;
                width: 14px;
                height: 14px;
                background: url('../img/sprites.png') no-repeat 0 1px;
                // background-size: 14px;
            }
            &:checked {
                ~ .custom-check {
                    background-position: 0 -14px;
                }
            }
        }
    }
}

.btn-register {
    display: block;
    background: url("../img/btn-register.png") no-repeat center;
    border: none;
    width: 162px;
    height: 41px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    text-align: left;
    font-family: 'Berthold Akzidenz-Grotesk';
    font-size: 23px;
    color: #fff;
    padding-left: 15px;
    line-height: 34px;
    margin: auto;
    margin-right: -67px;
    cursor: pointer;
}

label.error {
    position: absolute;
    top: 4px;
    right: 0;
    left: auto;
    color: red;
    font-size: 10px;
}
