// Small devices (landscape phones, 767 and down)
@media screen and (max-width: 767px) {
    .register-form-container {
        width: 100%;
        min-height: 0;
        margin: 0;
    }
    .logo-holder {
        position: relative;
        max-width: 40%;
        float: left;
    }
    .glad-chef {
        position: relative;
        float: right;
        max-width: 30%;
        img {
            left: -10px;
        }
    }
    .form-holder {
        padding-left: 20px;
        padding-right: 20px;
    }
    .btn-register {
        margin: 10px auto;
    }
    .submit-now {
        position: relative;
        margin: 0 auto;
        right: 0;
        left: 0;
    }
    .popup-holder {
        padding: 20px;
    }
    .gallery-details {
        position: fixed;
        z-index: 1500;
        background-repeat: repeat;
        height: 100vh;
        overflow-y: auto;
    }
    .gallery-details .details-holder {
        right: 0;
        top: 20px;
        width: 100%;
    }
    .gallery-details .details-holder a.image-preview {
        height: auto;
        margin: 15px;
    }
    .gallery-details .details-holder .details-panel {
        padding: 15px;
    }
    .gallery-details .close {
        top: -20px;
    }
    .col.col-3,
    .col.col-4,
    .col.col-5,
    .col.col-6 {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .login-bg {
        .logo-holder-big {
            width: 90%;
            left: 0;
            right: 0;
            margin: 0 auto;
            .title {
                top: 14%;
                font-size: 1.2rem;
            }
        }
        .login-form {
            width: 100%;
            bottom: 0;
            padding-bottom: 20px;
            .btn-enter {
                position: relative;
                top: auto;
                transform: translateY(0);
                margin: 0 auto;
                display: block;
                left: auto;
                right: auto;
                float: none;
                margin-top: 20px;
            }
            label {
                width: 25%;
                min-width: 0;
            }
            input {
                width: 70%;
                min-width: 0;
            }
            .input-group.horizontal {
                padding-right: 0;
            }
        }
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .gallery-container .gallery-items-list .item {
        width: 100%;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .gallery-container .gallery-items-list .item {
        width: 100%;
    }
    .login-bg .logo-holder-big {
        top: 0 !important;
        max-width: 25%;
        z-index: 2000;
        .title {
            display: none;
        }
    }
    .login-bg .login-form .btn-enter {
        margin-top: 10px;
    }
    .login-bg .login-form {
        padding-top: 40px;
    }
}

// Medium devices (tablets, 768px and up)
@media screen and (max-width: 1024px) {
    .register-form-container,
    .login-bg {
        min-height: calc(100vh - 27px);
        min-height: -webkit-calc(100vh - 27px);
    }
    .glad-chef {
        width: 25%;
    }
    .page-wrapper {
        max-width: 100%;
    }
    .login-bg {
        overflow: hidden;
        .bg-login-img {
            position: absolute;
            min-height: 100%;
            min-width: 100%;
            max-width: none;
            width: auto;
            left: -50%;
            right: -50%;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    .btn-register {
        margin: 30px auto;
    }
    .login-bg {
        .bg-login-img {
            left: auto;
            right: -10%;
        }
        .logo-holder-big {
            top: 0%;
        }
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    .page-wrapper {
        width: 100%;
    }
    .login-bg .logo-holder-big {
        top: 10%;
    }
}
