@mixin opacity($value) {
    opacity: $value;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transform) {
    -webkit-transform: -webkit-$transform;
    -ms-transform: -ms-$transform;
    -o-transform: -o-$transform;
    transform: $transform;
}
