* {
    position: relative;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: 0;
    outline: none;
    text-decoration: none;
}

body,
html {
    display: block;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Cabin';
    font-weight: normal;
    font-size: 12px;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Berthold Akzidenz-Grotesk';
    font-weight: bold;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 24px;
}

.upper-case {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.clear {
    &:after {
        content: '';
        display: block;
        margin: 0;
        padding: 0;
        clear: both;
        
    }
}
