/*
 * Global Rules
 */

.pl-10 {
    padding-left: 10px;
}

.clr {
    clear: both;
}

.left {
    float: left;
}

.clear {
    &:after {
        content: '';
        display: block;
        margin: 0;
        padding: 0;
        clear: both;
    }
}

.pr-40 {
    padding-right: 40px;
}

.left-align {
    text-align: left;
}


/*
 * Generic Page Rules
 */

.page-wrapper {
    display: block;
    margin: 0 auto;
    max-width: 810px;
    overflow-x: hidden;
}

.popup-holder {
    position: absolute;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 50px;
    &.active {
        display: block;
    }
    .inner-contents {
        background: #fff;
        display: block;
        height: 100%;
    }
    .close {
        position: absolute;
        top: 30px;
        right: 30px;
        left: auto;
        color: #fff;
        font-size: 20px;
        font-family: 'Cabin';
        font-weight: 600;
        padding: 10px;
        text-align: center;
        line-height: 15px;
        border-radius: 50%;
        background: $red;
        z-index: 1000;
        cursor: pointer;
    }
}


/*
 * Logo Rules
 */

.logo-holder {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: auto;
    }
}


/*
 * Registration Page Rules
 */

.register-section {
    display: block;
    background: #fff url('../img/bg.jpg') no-repeat center 0;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    &.gallery {
        background-image: url('../img/bg-gallery.jpg');
    }
}

.register-form-container {
    display: block;
    float: right;
    width: 450px;
    margin-right: 15px;
    background: url('../img/white-bg.png') repeat-y center 0;
    background-size: 100%;
    min-height: 648px;
    .register-header {
        text-align: center;
        display: block;
        padding-top: 20px;
        padding-bottom: 5px;
        .spatula {
            display: inline-block;
            padding-top: 10px;
            padding-bottom: 0px;
        }
    }
}

.agreement-holder {
    padding-top: 10px;
    a {
        &:link,
        &:visited {
            text-decoration: underline;
            color: #000;
            @include transition(.3s color);
        }
        &:hover,
        &:active {
            color: $red;
        }
    }
    label.error {
        white-space: nowrap;
        right: auto;
        left: 0;
        top: 20px;
        padding: 0;
    }
}

.glad-chef {
    display: block;
    position: absolute;
    top: auto;
    left: 10px;
    bottom: -5px;
    right: auto;
    z-index: 1100;
    img {
        display: block;
        max-width: 100%;
    }
}


/*
 * Gallery Page Rules
 */

.submit-now {
    position: absolute;
    display: block;
    background: url("../img/btn.png") no-repeat center;
    border: none;
    width: 135px;
    height: 41px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    text-align: left;
    font-family: 'Berthold Akzidenz-Grotesk';
    font-size: 18px;
    color: #fff;
    line-height: 34px;
    margin: auto;
    right: -20px;
    cursor: pointer;
    top: 12px;
    left: auto;
    text-align: center;
}

.gallery-holder {
    width: 525px;
}

.gallery-title {
    font-size: 28px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 2px;
}

.gallery-mini-title {
    font-size: 21px;
    text-transform: uppercase;
}

.search-bar-holder {
    display: block;
    margin: 0 auto;
    .input-group {
        float: right;
        &.horizontal {
            width: auto;
            padding-right: 18px;
            label,
            input {
                float: left;
                width: auto;
            }
            input {
                background-image: none;
                &::-webkit-input-placeholder {
                    color: #828180;
                    font-family: 'Verlag Compressed';
                    text-transform: uppercase;
                    font-size: 13px;
                }
                &:-moz-placeholder {
                    color: #828180;
                    font-family: 'Verlag Compressed';
                    text-transform: uppercase;
                    font-size: 13px;
                }
                &:-ms-input-placeholder {
                    color: #828180;
                    font-family: 'Verlag Compressed';
                    text-transform: uppercase;
                    font-size: 13px;
                }
            }
            label {
                color: #929292;
                text-transform: uppercase;
                font-family: 'Verlag Compressed';
                font-size: 13px;
                padding-right: 10px;
                line-height: 25px;
            }
        }
    }
}

.gallery-container {
    display: block;
    margin: 0;
    padding: 0 8px 0 0;
    .gallery-items-list {
        list-style: none;
        display: block;
        margin: 0 auto;
        padding: 0;
        .item {
            display: block;
            float: left;
            width: 50%;
            padding: 10px;
            a,
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
            .thumb-holder {
                z-index: 0;
                padding-left: 50px;
                a {
                    display: block;
                    overflow: hidden;
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                    .info {
                        position: absolute;
                        @include transition(.3s bottom);
                        bottom: -200%;
                        top: auto;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: auto;
                        background: rgba(255, 255, 255, 0.8) url('../img/zoom.png') no-repeat right 10px bottom 10px;
                        background-size: 16px;
                        display: block;
                        padding: 10px;
                        text-transform: none;
                        color: #000;
                        font-family: 'Verlag Compressed';
                        font-size: 17px;
                        z-index: 100;
                        .block {
                            display: block;
                            text-align: left;
                            text-overflow: ellipsis;
                            height: 20px;
                            overflow: hidden;
                            max-width: 100%;
                        }
                    }
                    &:hover {
                        .info {
                            bottom: 0;
                        }
                    }
                    img {
                        border: 5px #fff solid;
                        display: block;
                        width: 100%;
                    }
                }
            }
            .likes-holder {
                width: 50px;
                position: absolute;
                top: 50%;
                left: 10px;
                @include transform(translateY(-50%));
                text-transform: uppercase;
                font-size: 14px;
                color: #000;
                font-family: 'Verlag Compressed';
                text-align: center;
                z-index: 100;
                padding-top: 0px;
                .btn-like {
                    display: block;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    appearance: none;
                    width: 100%;
                    height: 24px;
                    background: url('../img/btn-like.png') no-repeat center;
                    cursor: pointer;
                }
            }
        }
    }
}

ul.pagination {
    display: block;
    text-align: center;
    list-style: none;
    padding: 15px;
    li {
        display: inline-block;
        font-size: 18px;
        text-align: center;
        font-family: 'Verlag Compressed';
        color: #000;
        &.active {
            color: $red;
        }
        &:first-child,
        &:last-child {
            span {
                display: none;
            }
        }
        a {
            display: inline-block;
            color: #000;
            &[rel=prev],
            &[rel=next] {
                color: transparent;
                &:before,
                &:after {
                    content: '';
                    display: inline-block;
                    width: 54px;
                    height: 14px;
                    background: url('../img/sprites.png') no-repeat 0 -48px;
                }
            }
            &[rel=prev] {
                &:after {
                    display: none
                }
            }
            &[rel=next] {
                &:before {
                    display: none
                }
                &:after {
                    background-position: 0 -64px;
                }
            }
        }
        &.disabled {
            span {
                // display: none;
            }
        }
    }
}

.btn-like-2 {
    display: block;
    width: 76px;
    height: 39px;
    background: url('../img/btn-like-2.png') no-repeat center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    float: left;
}

.btn-share {
    float: left;
    font-size: 19px;
    line-height: 39px;
    display: block;
    width: 76px;
    height: 39px;
    background: url('../img/btn-share.png') no-repeat center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-family: 'Verlag Compressed';
    text-transform: uppercase;
    cursor: pointer;
}

.gallery-details {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8) url('../img/yellow-bg.png') repeat-x left 0 top 450px;
    z-index: 1000;
    &.active {
        display: block;
    }
    .close {
        position: absolute;
        top: -30px;
        right: 20px;
        left: auto;
        text-transform: uppercase;
        color: #000;
        font-size: 20px;
        font-family: 'Verlag Compressed';
        font-weight: 900;
        padding: 10px;
        text-align: center;
        line-height: 15px;
        z-index: 1000;
        cursor: pointer;
    }
    .details-holder {
        position: absolute;
        right: 30px;
        top: 100px;
        width: 500px;
        a.image-preview {
            display: block;
            margin: 0;
            padding: 0;
            height: 380px;
            text-align: center;
            img {
                border: 5px #fff solid;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                width: auto;
                max-width: 100%;
                max-height: 100%;
                height: auto;
                display: inline-block;
                margin: 0 auto;
                padding: 0;
            }
        }
        .details-panel {
            font-family: 'Verlag Compressed';
            font-weight: bold;
            font-size: 18px;
            padding-top: 20px;
            .name {
                text-transform: uppercase;
            }
        }
    }
}

.block {
    display: block;
}

.col {
    display: block;
    float: left;
    margin: 0;
    padding: 0 10px;
    &.col-3 {
        width: 25%;
    }
    &.col-6 {
        width: 50%;
    }
    &.col-5 {
        width: 40%;
    }
    &.col-4 {
        width: 35%;
    }
}


/*
 * Login Page Rules
 */

.login-bg {
    display: block;
    .bg-login-img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .logo-holder-big {
        display: block;
        z-index: 1000;
        position: absolute;
        top: 0px;
        left: 35px;
        font-family: 'Berthold Akzidenz-Grotesk';
        .title {
            font-size: 23px;
            font-weight: bold;
            font-style: italic;
            text-align: center;
            font-family: 'Berthold Akzidenz-Grotesk';
            color: #000;
            position: absolute;
            top: 60px;
            z-index: 1000;
            left: 0;
            right: 0;
        }
        img {
            display: block;
            max-width: 100%;
        }
    }
    .login-form {
        position: absolute;
        width: 400px;
        display: block;
        bottom: 90px;
        top: auto;
        left: 0;
        z-index: 1500;
        padding: 25px 15px;
        background: url('../img/yellow-bg.png') no-repeat center;
        background-size: cover;
        label {
            font-weight: bold;
            text-align: left;
            font-size: 22px;
            font-family: 'Berthold Akzidenz-Grotesk';
            min-width: 80px;
        }
        input {
            background-color: #fff;
            width: 180px;
        }
        .btn-enter {
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            right: 15px;
            cursor: pointer;
        }
    }
}


/*
 * Footer Rules
 */

.footer {
    display: block;
    background: #fff;
    padding: 0 25px;
    line-height: 27px;
    .footer-links {
        &,
        &:link,
        &:visited {
            color: #000;
            text-decoration: none;
            font-family: 'Abrazo Script Ssk';
            font-size: 16px;
            display: block;
            margin: 0 auto;
            padding: 0;
            float: left;
            @include transition(.3s color);
        }
        &:hover,
        &:active {
            color: $red;
        }
        &.privacy-policy {
            float: left;
        }
        &.terms-conditions {
            float: right;
        }
    }
}
